<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="static/index.css">
  <style>
      
   
  </style>
</head>
<body>
  <!-- Navigation Bar -->
  <header class="navbar">
    <div class="logo">
      <img src="static/images/logo-home.webp" alt="Logo">
      <span>Intrusion Detection System</span>
    </div>
    <nav class="nav-links">
      <a href="/home" class="active">Home</a>
      <a href="/login">Login</a>
      <a href="/register" class="register-btn">Register</a>
    </nav>
  </header>

  <!-- Main Content Section -->
  <section class="home-container">
  
    <div class="image-section">
      <img src="static/images/cyber-threat-page1.jpg" alt="Threat Analysis">
    </div>
    <div class="info-section">
      <h1>What is Intrusion Detection System?</h1>
      <p>
        An Intrusion Detection System (IDS) is a monitoring system that detects suspicious activities
        and generates alerts when they are detected. Based on these alerts, a Security Operations Center (SOC) analyst
        or incident responder can investigate the issue and take appropriate actions to remediate the threat.
      </p>
      <div class="buttons">
        <a href="/register" class="btn">Register</a>
        <a href="/login" class="btn">Login</a>
      </div>
    </div>
  </section>

  <!-- Additional Section -->
  <section class="home-container">
    <div class="info-section">
      <h1>Making AI Accessible to Detect Intrusion</h1>
      <p>
        An Intrusion Detection System (IDS) is a device or software application that monitors a network for malicious activity
        or policy violations. Any malicious activity or violation is typically reported or collected centrally using a
        Security Information and Event Management (SIEM) system. Some IDSs are capable of responding to detected intrusions 
        upon discovery. These are classified as intrusion prevention systems.
      </p>
    </div>
    <div class="image-section">
      <img src="static/images/security2.jpg" alt="AI for Intrusion Detection">
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-bottom">
      <p>&copy; 2024 Intrusion Detection System. All Rights Reserved.</p>
    </div>
  </footer>
</body>
</html>
